{% extends 'admin/base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}

    <h2>Produits</h2>
    <a class="btn btn-primary float-right mb-md-3" href="{{ path('admin_product_add') }}">Ajouter</a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Réference</th>
                    <th>Description</th>
                    <th>Prix HT</th>
                    <th>Prix TTC</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.reference }}</td>
                        <td>{{ product.description|truncate(100) }}</td>
                        <td>{{ product.priceEt|localizedcurrency('EUR') }}</td>
                        <td>{{ product.priceIt|localizedcurrency('EUR') }}</td>
                        <td>
                            <a href="{{ path('admin_product_edit', {'productId': product.id }) }}"><span class="fas fa-edit text-dark"></span></a>
                            <a href="{{ path('admin_product_delete', {'productId': product.id, 'csrf': csrf_token('delete-product')}) }}"><span class="fas fa-trash text-danger"></span></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Aucun produit</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
