{% extends 'admin/base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}

    <h2>Modifier le produit</h2>
    <a class="btn btn-light float-right mb-md-3" href="{{ path('admin_products') }}">Retour</a>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form) }}
                {{ form_row(form.add) }}
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        let priceEt = document.getElementById('product_priceEt')
        let taxRule = document.getElementById('product_taxRule').value

        priceEt.addEventListener('change', function (e) {
            let priceEt = e.target.value
            priceEt = parseFloat(priceEt.replace(',', '.'))

            let priceIt = priceEt * (1 + (taxRule / 100))
            priceIt = priceIt.toFixed(2)
            priceIt = priceIt.replace('.', ',')

            document.getElementById('product_priceIt').value = priceIt
        })
    </script>
{% endblock %}
