{% extends 'admin/base.html.twig' %}

{% block title %}Adresses{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                {{ form_start(form, {'class' : 'form-signin'}) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}

                    {# {% for addressField in form.addresses %}
                        {{ form_row(addressField.alias) }}
                        {{ form_row(addressField.address) }}
                        {{ form_row(addressField.address2) }}
                        {{ form_row(addressField.zipCode) }}
                        {{ form_row(addressField.city) }}
                        {{ form_row(addressField.country) }}
                    {% endfor %} #}

                    {{ form_rest(form) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Enregistrer</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
